@import "variables.scss";

body.lightMode {
    .bg-dot-pattern {
        background-image: radial-gradient(#000 0.95px, rgba(0, 0, 0, 0) 0.95px);
    }

    .vignette {
        box-shadow: 0 0 200px rgba(0, 0, 0, 0.2) inset;
    }

    // nav
    nav {
        .logo {
            &:hover {
                fill: var(--color-orange);
                transition: $transition1;
            }
        }

        .mode-toggle-icon,
        > div:nth-child(3) a {
            &:hover {
                color: var(--color-orange);
                transition: $transition1;
            }
        }
    }

    .skill-list > div {
        background: rgba(0, 0, 0, 1);
    }

    @for $i from 1 through 4 {
        #card#{$i} {
            --index: #{$i};

            $brightness: 25% * $i;

            .card-body {
                background-color: rgb($brightness, $brightness, $brightness);
            }
        }
    }
}
