@import "variables.scss";

@media (max-width: 768px) {
    // landingpage
    .bg-wrapper {
        justify-content: center;

        .landingpage-name-font {
            padding: 0 20px;
        }

        .bg-image {
            background: url(../imgs/gradient-mobile.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    .vignette {
        box-shadow: 0 0 200px rgba(0, 0, 0, 0.2) inset;
    }

    // navigation
    nav {
        padding: 10px 15px;
        width: 100%;
        box-sizing: border-box;

        > div {
            width: 50%;
            position: relative;

            &:first-child,
            &:nth-child(3) {
                display: none;
            }
        }

        .burger-menu {
            display: block;
            height: 20px;
            position: absolute;
            right: 15px;

            .line {
                position: absolute;
                height: 4px;
                width: 30px;
                background: var(--color-white);
                border-radius: 2px;
                display: block;
                transform-origin: center;
                right: 0;
                transition: all 0.3s ease-in-out;

                &:nth-child(1) {
                    top: 0px;
                }
                &:nth-child(2) {
                    top: 9px;
                    width: 20px;
                    opacity: 1;
                }
                &:nth-child(3) {
                    top: 18px;
                }
            }
        }

        &.hover-gradient:hover::before {
            opacity: 0;
        }
    }

    .mobile-nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        position: fixed;
        z-index: 499;
        width: 100%;
        height: 100%;
        padding: 60px 15px;
        box-sizing: border-box;
        right: 0;
        top: 0;
        opacity: 0;
        transition: $transition1;
        pointer-events: none;

        .background-blur {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.06);
            backdrop-filter: blur(3.6px);
            z-index: -1;
            pointer-events: none;
        }

        a {
            color: var(--color-white);
            text-decoration: none;
            font-family: $headlineFont;
            font-size: 26pt;
            font-weight: 700;
            line-height: 200%;
            transform-origin: right;
            transition: $transition1;
            opacity: 0;
            transform: rotateY(90deg);

            &.in {
                transition: $transition1;
                opacity: 1;
                transform: rotateY(0deg);
            }
        }

        .mode-toggle-icon {
            color: var(--color-white);
            font-size: 28pt;
            margin-top: 15px;
        }

        &::after {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
                -90deg,
                var(--color-bg) 0%,
                var(--color-bg) 100%
            );
            pointer-events: none;
            opacity: 0.6;
            transition: all 0.5s ease-in-out;
            z-index: -1;
        }
    }

    .open {
        nav {
            box-shadow: none;
            border-bottom: none;

            .burger-menu {
                &:after {
                    content: "";
                    background-color: var(--color-orange);
                    border-radius: 100%;
                    position: absolute;
                    right: -5px;
                    top: -8px;
                    z-index: -1;
                    width: 40px;
                    height: 40px;
                    animation: burgerBg 0.7s ease-in-out;
                    opacity: 0;
                }

                .line {
                    &:nth-child(1) {
                        transform: rotate(45deg);
                        top: 10px;
                    }
                    &:nth-child(2) {
                        opacity: 0;
                    }
                    &:nth-child(3) {
                        transform: rotate(-45deg);
                        top: 10px;
                    }
                }
            }
        }

        .mobile-nav {
            opacity: 1;
            pointer-events: all;
        }
    }

    @keyframes burgerBg {
        0% {
            transform: scale(0.5);
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            transform: scale(1.2);
            opacity: 0;
        }
    }

    @keyframes mobileNavElems {
        0% {
            transform: rotateY(90deg);
            opacity: 0;
        }
        100% {
            transform: rotateY(0deg);
            opacity: 1;
        }
    }

    section:not(#home) {
        padding: 200px 10% 0;

        &:before {
            top: 100px;
        }
    }

    .about-me-container {
        flex-direction: column;

        > div {
            width: 100%;

            &:first-child {
                padding-bottom: 20px;
            }
        }
    }

    // projects
    .projects-cards-container {
        width: 100%;
        margin: 0;

        .card-body {
            width: 90vw;
            margin-left: -5%;
        }
    }

    // visuals
    .reaction-game {
        background: url(../imgs/reactionGameMobile.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .cd-mhi {
        background: url("../imgs/mhi-mobile.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .notes {
        background: url("../imgs/notesMobile.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .card-text {
        display: block;
        width: 100%;
        max-width: 280px;
        bottom: 0;
        transform: translate(-50%, calc(100% - 200px));
        transition: $transition1;
        font-size: 11pt;

        &[data-expanded="1"] {
            transform: translate(-50%, -20px);
            transition: $transition1;
        }
    }

    .card-body {
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 200px;
            background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 1) 0%,
                rgba(0, 0, 0, 0) 100%
            );
            pointer-events: none;
            opacity: 1;
            transition: $transition1;
        }

        &[data-expanded="1"]::after {
            opacity: 0;
        }
    }

    .show-more-btn {
        display: block;
        text-align: center;
        text-decoration: underline;
        text-decoration-color: var(--color-orange);
        background: transparent;
        border: none;
        color: var(--color-white);
        font-size: 13pt;
        margin: 0 auto 20px;
    }

    #card2,
    #card3,
    #card4 {
        margin-top: 100px;
    }

    // footer/contact
    .footer-bg-block {
        width: 90%;
        left: 5%;
    }

    .text-block {
        font-size: 11pt;
        line-height: 16pt;
    }
}
