body {
  margin: 0;
  background-color: var(--color-bg);
  position: relative;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.light {
  font-weight: 300;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

::-moz-selection {
  color: black;
  background: var(--color-orange);
}

::selection {
  color: black;
  background: var(--color-orange);
}

.bg-noise {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url("../imgs/noise-transparent.png") repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 0.2s infinite;
  opacity: 0.6;
  visibility: visible;
  z-index: 100;
  pointer-events: none;
}

.bg-dot-pattern {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
  opacity: 0.1;
  background-image: radial-gradient(#fff 0.95px, rgba(0, 0, 0, 0) 0.95px);
  background-size: 25px 25px;
  pointer-events: none;
}

.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.6) inset;
  z-index: 10;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.glass-bg {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.6px);
  -webkit-backdrop-filter: blur(3.6px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  transition: all 0.5s ease-in-out;
}

.hover-gradient:before {
  background: radial-gradient(400px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.06), transparent 40%);
  z-index: 3;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
  pointer-events: none;
}
.hover-gradient:hover::before {
  opacity: 1;
}
.hover-gradient.card:before {
  background: radial-gradient(400px circle at var(--mouse-x) var(--mouse-y), rgba(255, 113, 82, 0.8), transparent 40%);
}

.text-block {
  font-size: 13pt;
  font-family: "Raleway", sans-serif;
  line-height: 18pt;
  letter-spacing: 0.5px;
  transition: all 0.5s ease-in-out;
}
.text-block a {
  color: var(--color-orange);
  font-weight: 500;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}
.loading .loading-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--color-bg);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.loading .loader {
  width: 65px;
  aspect-ratio: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.loading .loader:before,
.loading .loader:after {
  content: "";
  position: absolute;
  border-radius: 50px;
  box-shadow: 0 0 0 3px inset var(--color-white);
  animation: l4 2.5s infinite;
}
.loading .loader:after {
  animation-delay: -1.25s;
  box-shadow: 0 0 0 3px inset var(--color-orange);
}
@keyframes kreisAnimation {
  100% {
    width: 0;
    height: 0;
  }
}
@keyframes l4 {
  0% {
    inset: 0 35px 35px 0;
  }
  12.5% {
    inset: 0 35px 0 0;
  }
  25% {
    inset: 35px 35px 0 0;
  }
  37.5% {
    inset: 35px 0 0 0;
  }
  50% {
    inset: 35px 0 0 35px;
  }
  62.5% {
    inset: 0 0 0 35px;
  }
  75% {
    inset: 0 0 35px 35px;
  }
  87.5% {
    inset: 0 0 35px 0;
  }
  100% {
    inset: 0 35px 35px 0;
  }
}
.loading .loading-text {
  content: "Lade...";
  color: var(--color-white);
  font-family: "Raleway", sans-serif;
  font-size: 16pt;
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  margin-top: 60px;
  z-index: 1;
}
.loading.done {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.loading.done .loader,
.loading.done .loading-text {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.loading.done .loading-bg {
  border-radius: 50%;
  animation: kreisAnimation 0.5s ease-in-out forwards;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
nav {
  padding: 10px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
  transition: all 0.5s ease-in-out;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  font-family: "Raleway", sans-serif;
  font-size: 13pt;
  font-weight: 500;
}
nav > div {
  width: 33%;
  text-align: center;
}
nav > div a[href="#home"] {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav > div:nth-child(3) {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
nav > div:nth-child(3) a {
  padding: 0 10px;
  color: var(--color-white);
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  position: relative;
}
nav > div:nth-child(3) a:hover {
  color: var(--color-orange);
  transition: all 0.5s ease-in-out;
}
nav .logo {
  width: 175px;
  height: 35px;
  transition: all 0.5s ease-in-out;
  fill: var(--color-white);
}
nav .logo:hover {
  fill: var(--color-orange);
  transition: all 0.5s ease-in-out;
}
nav .burger-menu {
  display: none;
}
nav .mode-toggle-icon {
  color: var(--color-white);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  font-size: 16pt;
}
nav .mode-toggle-icon:hover {
  color: var(--color-orange);
  transition: all 0.5s ease-in-out;
}

.mobile-nav {
  display: none;
}

.bg-wrapper {
  margin-top: -60px;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
}
.bg-wrapper .bg-image {
  background: url(../imgs/gradient.png);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.9;
}

.scroll-indicator {
  animation: bounce 3s ease infinite;
  bottom: 4rem;
  color: #fff;
  font-size: 1.5rem;
  height: 4rem;
  left: 50%;
  letter-spacing: -1px;
  line-height: 4rem;
  margin-left: -3rem;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  width: 6rem;
  text-decoration: none;
  z-index: 100;
  transition: all 0.5s ease-in-out;
}
.scroll-indicator.hidden {
  opacity: 0;
  pointer-events: none;
}

@keyframes bounce {
  50% {
    transform: translateY(-50%);
  }
}
@media (max-width: 2000px) {
  .bg-wrapper .bg-image {
    background-size: cover;
  }
}
@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}
.landingpage-name-font {
  font-family: "Raleway", sans-serif;
  color: var(--color-white);
  font-size: clamp(4rem, 6vw, 7rem);
  line-height: 100%;
  padding-left: 30px;
  transition: all 0.5s ease-in-out;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
  mix-blend-mode: overlay;
}
.landingpage-name-font div:last-child {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--color-white);
  color: rgba(0, 0, 0, 0);
}

.about-me-container {
  display: flex;
  flex-direction: row;
  color: var(--color-white);
  position: relative;
}
.about-me-container > div {
  width: 50%;
}

section#home {
  position: fixed;
  width: 100vw;
  height: 100vh;
  height: 100svh;
}

.content-wrapper {
  position: relative;
  top: 100svh;
  background-color: var(--color-bg);
}

.content-backdrop {
  z-index: 0;
  position: absolute;
  inset: 0;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  mask-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 10%, rgba(0, 0, 0, 0.8) 20%, rgb(0, 0, 0) 30%, rgb(0, 0, 0));
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 10%, rgba(0, 0, 0, 0.8) 20%, rgb(0, 0, 0) 30%, rgb(0, 0, 0));
  height: 260px;
  transform: translate(0, -50%);
  pointer-events: none;
}

.portrait {
  background: url("../imgs/portrait.png");
  background-size: 100%;
  height: 300px;
  width: 300px;
  border-radius: 30px;
}

section:not(#home) {
  padding: 300px 10% 0;
  position: relative;
}
section:not(#home):before {
  content: "";
  width: 80%;
  height: 1px;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(255, 255, 255, 0.06);
}
section:not(#home) .section-headline {
  font-size: clamp(2rem, 4vw, 5rem);
  white-space: nowrap;
  color: var(--color-white);
  padding-left: 10px;
  font-family: "Raleway", sans-serif;
  margin-bottom: 50px;
  transition: all 0.5s ease-in-out;
}
section:not(#home) .section-headline > span:after {
  content: "";
  width: 0%;
  transition: all 0.5s ease-in-out;
}
section:not(#home) .inView.section-headline > span {
  position: relative;
}
section:not(#home) .inView.section-headline > span:after {
  content: "";
  height: 5px;
  width: 100%;
  background-color: var(--color-orange);
  transition: all 0.5s ease-in-out;
  position: absolute;
  left: 0;
  bottom: -5px;
  border-radius: 5px;
}
section:not(#home)#contact-section {
  height: 100vh;
}
section:not(#home)#contact-section .section-headline {
  color: #eaeaea;
  margin-top: 40px;
}

.contact-icon-section-row {
  display: flex;
  align-items: flex-start;
  gap: 25px;
  margin-bottom: 15px;
}
.contact-icon-section-row .contact-icon {
  width: 25px;
  height: 25px;
}
.contact-icon-section-row .contact-icon.person {
  background: url("../imgs/person.svg");
}
.contact-icon-section-row .contact-icon.location {
  background: url("../imgs/location.svg");
}
.contact-icon-section-row .contact-icon.mail {
  background: url("../imgs/mail.svg");
}
.contact-icon-section-row .contact-icon.linkedIn {
  background: url("../imgs/linkedin.svg");
  filter: invert(1);
  background-size: cover;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.contact-icon-section-row .contact-icon.pdf {
  background: url("../imgs/pdf.svg");
}

.projects-cards-container {
  width: calc(100% + 80px);
  margin-left: -40px;
}
.projects-cards-container #cards {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 87vh);
  gap: 4vw;
  padding-bottom: 240px;
  margin-bottom: 4vw;
}
.projects-cards-container .card-body {
  box-sizing: border-box;
  padding: 30px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
  height: 87vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
}

.desktop-visual {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.reaction-game {
  background: url("../imgs/reactionGameDesktop.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cd-mhi {
  background: url("../imgs/mhi-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.notes {
  background: url("../imgs/notesDesktop.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.usePopcorn {
  background: url("../imgs/usePopcorn.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.card-text {
  position: absolute;
  width: 65%;
  padding: 25px;
  background: var(--color-bg);
  color: var(--color-white);
  border-radius: 30px;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
  box-shadow: rgba(0, 0, 0, 0.9) 0px 1px 4px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
}
.card-text a {
  color: var(--color-orange);
  font-weight: 700;
}
.card-text .skill-list {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 3;
}

.text-block-headline {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: var(--color-orange);
  font-size: 16pt;
}

.show-more-btn {
  display: none;
}

#card1 {
  --index: 1;
}
#card1 .card-body {
  background-color: rgb(13, 13, 13);
}

#card2 {
  --index: 2;
}
#card2 .card-body {
  background-color: rgb(26, 26, 26);
}

#card3 {
  --index: 3;
}
#card3 .card-body {
  background-color: rgb(38, 38, 38);
}

#card4 {
  --index: 4;
}
#card4 .card-body {
  background-color: rgb(51, 51, 51);
}

.card {
  position: sticky;
  top: 0;
  margin-top: calc(var(--index) * 60px);
  padding-top: 60px;
}

.skill-list > div {
  display: inline-block;
  color: white;
  padding: 5px 20px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.06);
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  margin-right: 5px;
  background: rgba(255, 255, 255, 0.02);
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
}
.skill-list > div:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  color: var(--color-orange);
  background: rgba(255, 255, 255, 0.1);
}

.info-font-small {
  font-family: "Raleway", sans-serif;
  font-size: 9pt;
  color: var(--color-white);
  margin-top: 50px;
}

.footer-bg-block {
  width: calc(80% + 80px);
  height: 100vh;
  left: calc(10% - 40px);
  background-color: #080808;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  max-height: 100vh;
  position: absolute;
  transition: all 1s ease-in-out;
  opacity: 0.7;
}
.footer-bg-block.full-screen {
  left: 0;
  width: 100%;
  transition: all 1s ease-in-out;
  opacity: 1;
  border-radius: 0;
}
.footer-bg-block .footer-elem {
  position: absolute;
  bottom: 30%;
}

.footer-content-container {
  transform: translate(0, 0);
  transition: all 1s ease-in-out;
  padding-top: 40px;
  z-index: 1;
  position: absolute;
}
.footer-content-container .text-block {
  color: #eaeaea;
  padding-left: 10px;
}
.footer-content-container .text-block > a {
  font-weight: 500;
  margin-top: 10px;
  display: block;
  color: inherit;
  text-decoration-color: var(--color-orange);
}/*# sourceMappingURL=style.css.map */