// general
$colorBgDark: #191919;
$white: #eaeaea;
$whiteBg: #fefefe;
$orange: #ff7152;
$lightBlue: #709ab0;
$black: #1c1c1c;

$headlineFont: "Raleway", sans-serif;
$textFont: "Lora", serif;

$transition1: all 0.5s ease-in-out;
// projects cards:
$cards: 4;
$cardHeight: 87vh;
$cardTopPadding: 60px;
$cardMargin: 4vw;
